<div class="container pt-5 mt-5 card">
	<div class="row pt-3 pb-2">
		<div class="col">
			<h5 class="text-center">Asignación de recursos</h5>
		</div>
	</div>
	<div class="row p-3">
		<div class="col">
			<form [formGroup]="createForm" (ngSubmit)="crearAsignacion(createForm.value)">
				<div class="row w-100 p-2 mx-auto">
					<div class="col-sm-2 col-md-2 col-lg-2"></div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="form-group" style="display: contents;">
							<label class="label label-default px-3">Recurso</label>
					  		<select class="form-control form-control-sm " formControlName="recurso">	
								<option *ngFor="let recurso of recursos" [value] = "recurso.id">
									{{recurso.descripcion}}
								</option>
							</select>	
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="form-group" style="display: contents;">
							<label class="label label-default px-3">Responsable</label>
					  		<select class="form-control form-control-sm " formControlName="responsable">	
								<option *ngFor="let responsable of recResp" [value] = "responsable.id">
									{{responsable.valor}}
								</option>
							</select>	
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="form-group" style="display: contents;">
							<label class="label label-default px-3">Fecha asignado</label>
							<input class="form-control form-control-sm px-3" type="date" formControlName="fecha_asignado">
						</div>
					</div>

				</div>
				<div class="row w-100 p-2 mx-auto">
					<div class="col text-center">
						<div class="form-group" style="display: contents;">
							<button class="btn btn-sm btn-success px-3" type="submit">Crear</button>
						</div>
					</div>
				</div>
			</form>
		</div>	
	</div>
	<div class="row" style="position: relative">
		<table class="table table-striped">
			<thead>
				<tr>
				  	<th scope="col">Recurso</th>
				  	<th scope="col">Reposable</th>
				  	<th scope="col">Fecha Asignación</th>
				  	<th scope="col">Actualizar</th>
				  	<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let asignado of asignados">
					<td>
						<label class="h6" *ngFor="let recurso of recursos">
							<span *ngIf = "recurso.id == asignado.recurso">{{recurso.descripcion}}</span>
						</label>
				  	</td>
				  	<td>
				  		<select class="form-control form-control-sm w-100" [(ngModel)]="asignado.responsable">	
							<option *ngFor="let resp of recResp" [value] = "resp.id">
								{{resp.valor}}
							</option>
						</select>
				  	</td>
				  	<td>
				  		<input class="form-control form-control-sm" type="date" [(ngModel)]="asignado.fecha_asignacion">
				  	</td>
					<td>
					    <button class="btn btn-info btn-sm " type="button" (click)="actualizarAsignacion(asignado)">actualizar</button>
		  			</td>
					<td>
					    <button class="btn btn-danger btn-sm " type="button" (click)="borrarAsignacion(asignado.recurso,asignado.responsable)">eliminar</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>